services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      REDIS_HOST: ${REDIS_HOST}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - redis
      - market-db
    volumes:
      - ./backend:/app

  worker:
    build: ./worker
    container_name: worker
    env_file:
      - .env
    environment:
      REDIS_HOST: ${REDIS_HOST}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - redis
      - market-db
    volumes:
      - ./worker:/app
    command: ["python", "worker_main.py"]

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  market-db:
    image: timescale/timescaledb:latest-pg15
    container_name: market-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5434:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data

volumes:
  timescale_data: